{% extends 'AcmeJokeBundle::base.html.twig' %}
{% block content %}
          <div class="left-sidebar">
            
            <div class="row-fluid">
              <div class="span12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Animated Pie Charts
                    </div>
                    <span class="tools">
                      <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
                    </span>
                  </div>
                  <div class="widget-body">
                    <div class="easy-pie-charts-container">
                      <div class="pie-chart">
                        <div class="chart1" data-percent="65">
                          61%
                        </div>
                        <p class="name">
                          Chart 1
                        </p>
                      </div>
                      <div class="pie-chart">
                        <div class="chart2" data-percent="47">
                          47%
                        </div>
                        <p class="name">
                          Chart 2
                        </p>
                      </div>
                      <div class="pie-chart">
                        <div class="chart3" data-percent="87">
                          87%
                        </div>
                        <p class="name">
                          Chart 3
                        </p>
                      </div>
                      <div class="pie-chart">
                        <div class="chart4" data-percent="22">
                          22%
                        </div>
                        <p class="name">
                          Chart 4
                        </p>
                      </div>
                      <div class="pie-chart">
                        <div class="chart5" data-percent="91">
                          91%
                        </div>
                        <p class="name">
                          Chart 5
                        </p>
                      </div>
                      <div class="clearfix">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            
            <div class="row-fluid">
              <div class="span6">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Site Statistics - Line Char<a id="lineChart">t</a>
                    </div>
                    <span class="tools">
                      <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
                    </span>
                  </div>
                  <div class="widget-body">
                    <div id="line_chart">
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="span6">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Column Char<a id="columnChart">t</a>
                    </div>
                    <span class="tools">
                      <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
                    </span>
                  </div>
                  <div class="widget-body">
                    <div id="column_chart">
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            
            
            <div class="row-fluid">
              
              <div class="span6">
                <div class="widget no-margin">
                  <div class="widget-header">
                    <div class="title">
                      Social Network - Area Char<a id="areaChart">t</a>
                    </div>
                    <span class="tools">
                      <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
                    </span>
                  </div>
                  <div class="widget-body">
                    <div id="area_chart">
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="span6">
                <div class="widget no-margin">
                  <div class="widget-header">
                    <div class="title">
                      My Daily Activities - Pie Char<a id="pieChart">t</a>
                    </div>
                    <span class="tools">
                      <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
                    </span>
                  </div>
                  <div class="widget-body">
                    <div id="pie_chart">
                    </div>
                  </div>
                </div>
              </div>
              
              
            </div>
            
          </div>
{% endblock %}
