{% extends 'AcmeJokeBundle::base.html.twig' %}
{% block content %}
          <div class="left-sidebar">

            <div class="row-fluid">
              <div class="span12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      注册账号
                    </div>
                    <span class="tools">
                      <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
                    </span>
                  </div>
                  <div class="widget-body">
                    
                    <form method="post" action="/register/save" class="form-horizontal no-margin">
                      
                      <div class="control-group">
                        <label class="control-label">
                          用户名
                        </label>
                        <div class="controls controls-row">
                          <input class="span8" type="text" placeholder="UserName" name="username">
                        </div>
                      </div>
                      
                      <div class="control-group">
                        <label class="control-label">
                          密码
                        </label>
                        <div class="controls controls-row">
                          <input class="span8" type="password" placeholder="Password" name="password">
                        </div>
                      </div>
                      
                      <div class="control-group">
                        <label class="control-label">
                          确认密码
                        </label>
                        <div class="controls controls-row">
                          <input class="span8" type="password" placeholder="Confirm Password" name="confirmpassword">
                        </div>
                      </div>
                      
                      <div class="control-group">
                        <label class="control-label">
                          邮箱
                        </label>
                        <div class="controls controls-row">
                          <input class="span8" type="text" placeholder="Email" name="email">
                        </div>
                      </div>
                      
                      <div class="form-actions no-margin">
                        <button type="submit" class="btn btn-info pull-right">
                          注册
                        </button>
                        <div class="clearfix">
                        </div>
                      </div>
                    </form>
                    
                  </div>
                </div>
              </div>
            </div>
{% endblock %}
